#   

    .  ,              .         .

       ** **   ,        .

** ** -   :
1.           ?
2.           ?
3.           ?
4.          ?


 ,     :
 1.  .
 2.  .
 3.  .
 4.  .

##  1.

    `pandas`.   `data.csv`'      `df`.        ,   15 .

In [1]:
import pandas as pd # Pandas
df = pd.read_csv('/datasets/data.csv') #       df
display(df.tail(15)) #  15

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
21510,2,NaN,28,,1,/,0,F,,0,NaN,
21511,0,-612.569129,29,,0,,1,F,,1,140068.472941,
21512,0,-165.377752,26,,0,/,4,M,,0,147301.457769,
21513,0,-1166.216789,35,,1,/,0,F,,0,250986.142309,
21514,0,-280.469996,27,,2,/,4,M,,0,355988.407188,
21515,1,-467.685130,28,,1,/,0,F,,1,109486.327999,
21516,0,-914.391429,42,,0,/,0,F,,0,322807.776603,
21517,0,-404.679034,42,,0,,1,F,,0,178059.553491,
21518,0,373995.710838,59,,1,/,0,F,,0,153864.650328,
21519,1,-2351.431934,37,,4,,3,M,,0,115949.039788,
21520,1,-4529.316663,43,,1,,1,F,,0,224791.862382,
21521,0,343937.404131,67,,1,/,0,F,,0,155999.806512,
21522,1,-2113.346888,38,,1,,1,M,,1,89672.561153,
21523,3,-3112.481705,38,,1,/,0,M,,1,244093.050500,
21524,2,-1984.507589,40,,1,/,0,F,,0,82047.418899,

    :
* children     
* days_employed      
* dob_years     
* education    
* education_id    
* family_status   
* family_status_id    
* gender   
* income_type   
* debt       
* total_income   
* purpose

      :

In [2]:
df.info() #

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

children            21525 non-null int64

days_employed       19351 non-null float64

dob_years           21525 non-null int64

education           21525 non-null object

education_id        21525 non-null int64

family_status       21525 non-null object

family_status_id    21525 non-null int64

gender              21525 non-null object

income_type         21525 non-null object

debt                21525 non-null int64

total_income        19351 non-null float64

purpose             21525 non-null object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

 ,     12 , 21525 .   `days_employed`  `total_income`   .

        ,      (  `days_employed`  `total_income`       ) :

In [3]:
df['children'].value_counts() #       children

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

  `children`         -  *20*  *-1*.  *-1*       ,            .       *20*,        20 (  76   ),        6  20   .     ,       .

  `dob_years`,     ,      ,      :

In [4]:
df['dob_years'].sort_values().unique() #     dob_years

array([ 0, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75])

          0.             . 

       `education_id`:

In [5]:
df['education_id'].value_counts() #       education_id

1    15233
0     5260
2      744
3      282
4        6
Name: education_id, dtype: int64

-    ,   ,     `family_status`:

In [6]:
df['family_status'].value_counts() #       family_status

 /           12380
           4177
  /       2813
                  1195
 /              960
Name: family_status, dtype: int64

    ,   *  /  *,            .    `family_status_id`:

In [7]:
df['family_status_id'].value_counts() #       family_status_id

0    12380
1     4177
4     2813
3     1195
2      960
Name: family_status_id, dtype: int64

 ,  ,     `gender`:

In [8]:
df['gender'].value_counts() #       gender

F      14236
M       7288
XNA        1
Name: gender, dtype: int64

  ,       ,       ,  ,        .     `income_type`:

In [9]:
df['income_type'].value_counts()  #       income_type

          11119
           5085
           3856
         1459
            2
        2
                1
               1
Name: income_type, dtype: int64

   ,    `debt`:

In [10]:
df['debt'].value_counts()  #       debt

0    19784
1     1741
Name: debt, dtype: int64

    ,   ,    (91,9%)      .     `education`:

In [11]:
df['education'].value_counts() #       education

                13750
                  4718
                  772
                  711
       668
                   274
                   268
                250
        47
        29
                 17
                 15
              4
              1
              1
Name: education, dtype: int64

  ,     ,         ,            .

        :

In [12]:
df['purpose'].value_counts() #       purpose

                                   797
                       777
                            774
                    676
           664
                      653
                           653
        651
                                     647
                              647
                      641
      635
                              634
              630
            626
                       624
                 620
                        620
                               612
                  607
                 505
                496
                                495
             489
                            480
           479
                                478
                       472
                 462
                    462
                        455
                         453
       447
                               447
                      443
                     436
               426
                      412
Name: purpose, dtype: int64

    3     ,       .

     ,    `days_employed`            ,

In [13]:
df.loc[(df.loc[:,'days_employed'] > 0) & (df.loc[:,'income_type'] != '') ]

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
3133,1,337524.466835,31,,1,/,0,M,,1,59956.991984,
14798,0,395302.838654,45,,0,,1,F,,0,202722.511368,

        ,    ,    ,          :   .         ,         .

      `days_employed`  `total_income`:

In [14]:
columns_is_na = df[df['days_employed'].isna() & df['total_income'].isna()] #       columns_is_na
print('       :',len(columns_is_na)) #

       : 2174

****

   :

  21525   12 .

         - .

      `days_employed`  `total_income` .     `total_income`    ,       .    (10%)   ,      ,      ,     .

  `children`     ,  `dob_years`    .          (,  )    ,    . 

  `family_status_id`  `education`    ,    ,      ,     . 

  ,         :
*    ()
*   
*  
*   

   ,    .

##  2.

###

   ,    `days_employed`  `total_income`     -  2174.         (    10%   ),           (       ):

In [15]:
df['total_income'] = df['total_income'].fillna(df.groupby('income_type')['total_income'].transform('median')) #          total_income
df['days_employed'] = df['days_employed'].fillna(df.groupby('income_type')['days_employed'].transform('median')) #          days_employed
display(df.info()) #

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 21525 entries, 0 to 21524

Data columns (total 12 columns):

children            21525 non-null int64

days_employed       21525 non-null float64

dob_years           21525 non-null int64

education           21525 non-null object

education_id        21525 non-null int64

family_status       21525 non-null object

family_status_id    21525 non-null int64

gender              21525 non-null object

income_type         21525 non-null object

debt                21525 non-null int64

total_income        21525 non-null float64

purpose             21525 non-null object

dtypes: float64(2), int64(5), object(5)

memory usage: 2.0+ MB

None

       `days_employed`.   ,     0,     ,       :

In [16]:
df[df['days_employed']>0]['days_employed'].sort_values().unique() #  ,    0

array([328728.72060452, 328734.92399633, 328771.3413868 , ...,
       401675.09343386, 401715.81174889, 401755.40047533])

  328 728    401 755,     ,      ,   ?           24:

In [17]:
df.loc[df['days_employed'] > 0, 'days_employed'] = df['days_employed']/24 #     days_employed  24

    ,      :

In [18]:
df[df['days_employed']>0]['days_employed'].sort_values().unique() #

array([13697.03002519, 13697.28849985, 13698.80589112, ...,
       16736.46222641, 16738.15882287, 16739.80835314])

13697   365   37 ,   .       :

In [19]:
df['days_employed'] = df['days_employed'].abs() #     days_employed   
display(df.head(5)) #  5  ,

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437.673028,42,,0,/,0,F,,0,253875.639453,
1,1,4024.803754,36,,1,/,0,F,,0,112080.014102,
2,0,5623.422610,33,,1,/,0,M,,0,145885.952297,
3,3,4124.747207,32,,1,/,0,M,,0,267628.550329,
4,0,14177.753002,53,,1,,1,F,,0,158616.077870,

****

    `total_income`,        (       ),       .       `days_employed`,          (  )             .

###

       (        ),      `days_employed`  `total_income`  float  int.          .   `astype`,        *float64*,   *object*        (      **try except**).

In [21]:
df['days_employed'] = df['days_employed'].astype('int') #   days_employed  float  int
df['total_income'] = df['total_income'].astype('int') #   total_income  float  int
display(df.head(10)) #  10

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8437,42,,0,/,0,F,,0,253875,
1,1,4024,36,,1,/,0,F,,0,112080,
2,0,5623,33,,1,/,0,M,,0,145885,
3,3,4124,32,,1,/,0,M,,0,267628,
4,0,14177,53,,1,,1,F,,0,158616,
5,0,926,27,,0,,1,M,,0,255763,
6,0,2879,43,,0,/,0,F,,0,240525,
7,0,152,50,,1,/,0,M,,0,135823,
8,2,6929,35,,0,,1,F,,0,95856,
9,0,2188,41,,1,/,0,M,,0,144425,

****

       float64  int   `days_employed`  `total_income`,                .

###

  ,  ,    `children`         -  20  -1.      ,         .

In [22]:
df.loc[df['children'] == -1,'children'] = 1 #  -1     children
df.loc[df['children'] == 20,'children'] = 2 #  20     children
df['children'].value_counts()  #         children

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

    ,   `education`    ,    .  ,           ,      :

In [23]:
df['education'] = df['education'].str.lower() #    education   
df['education'].value_counts() #         education

                15233
                  5260
       744
                282
              6
Name: education, dtype: int64

   *  /  *    `family_status`,     :

In [24]:
df['family_status'] = df['family_status'].str.lower() #    education   
df['family_status'].unique() #

array([' / ', ' ', ' / ',
       ' ', '  /  '], dtype=object)

 *  /  *,       .       :

In [25]:
df.duplicated().sum() #

71

71   - 0,33%    .        ,    .   ,        :

In [26]:
df = df.drop_duplicates().reset_index(drop = True) #       
df.duplicated().sum() #

0

****

      ,          ,       . 

  ,  .   ,      ID .            ( ,  30 ),  ,    -  .      .

  .

###

     ,       ,    -.     " "     -,  ,                .

In [27]:
from pymystem3 import Mystem #   
m = Mystem()
'''     PyMystem,      -"".
      ,   ,     '''
def purpose_change(purpose):
    row = m.lemmatize(purpose)
    for aim in row:
        if '' in aim:
            return '  '
        if ('' in aim) or ('' in aim):
            return '  '
        if '' in aim:
            return ' '
        if '' in aim:
            return ''

df['purpose_def'] = df['purpose'].apply(purpose_change) #          purpose_def
display(df['purpose_def'].value_counts()) #          purpose_def

      10811
         4306
         4013
               2324
Name: purpose_def, dtype: int64

****

     ,             38  4 .    ,     ,       .

###

      .    **          ?**. 

       ,       ,  -       ,  -     . 

      ,         ,     `children`   1.           `ch_available`:

In [28]:
def credit_return_child(row):
    '''    children,   ,  
         '''
    if row['children'] == 0:
        return ' '
    if row['children'] > 0:
        return ' '
df['ch_available'] = df.apply(credit_return_child, axis = 1) #  'ch_available'     
display(df.head(5)) #  5

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_def,ch_available
0,1,8437,42,,0,/,0,F,,0,253875,,,
1,1,4024,36,,1,/,0,F,,0,112080,,,
2,0,5623,33,,1,/,0,M,,0,145885,,,
3,3,4124,32,,1,/,0,M,,0,267628,,,
4,0,14177,53,,1,,1,F,,0,158616,,,

  `ch_available`         .    ""  ,     ,    .              ,     . <a href='https://zavtra.ru/blogs/eto_interesno_i_polezno_znat_'>     ,   5:</a> 
1. 

2. 

3.  

4.  

5.   (  )

   ,      ,     `qcut()`

In [29]:
pd.qcut(x=df['total_income'], q=5)

0        (214618.2, 2265604.0]
1          (98537.6, 132134.4]
2         (132134.4, 161335.0]
3        (214618.2, 2265604.0]
4         (132134.4, 161335.0]
                 ...
21449    (214618.2, 2265604.0]
21450     (132134.4, 161335.0]
21451     (20666.999, 98537.6]
21452    (214618.2, 2265604.0]
21453     (20666.999, 98537.6]
Name: total_income, Length: 21454, dtype: category
Categories (5, interval[float64]): [(20666.999, 98537.6] < (98537.6, 132134.4] < (132134.4, 161335.0] < (161335.0, 214618.2] < (214618.2, 2265604.0]]

 :
1.  -  98662 ..

2.  -  98663  132142 ..

3.   -  132143  161151 ..

4.   -  161152  214269 ..

5.   (  ) -  214270 ..

              `income_level`:

In [30]:
def credit_return_income(income):
    '''    total_income,     , 
         income_level '''
    if income <= 98662:
        return ''
    if 98663 < income  <= 132142:
        return ''
    if 132143 < income <= 161151:
        return ' '
    if 161152 < income <= 214269:
        return ' '
    if income  > 214270:
        return ' '
df['income_level'] = df['total_income'].apply(credit_return_income) #  'income_level'     
display(df.head(5)) #  5

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_def,ch_available,income_level
0,1,8437,42,,0,/,0,F,,0,253875,,,,
1,1,4024,36,,1,/,0,F,,0,112080,,,,
2,0,5623,33,,1,/,0,M,,0,145885,,,,
3,3,4124,32,,1,/,0,M,,0,267628,,,,
4,0,14177,53,,1,,1,F,,0,158616,,,,

In [31]:
df['income_level'].value_counts()

      4305
            4305
     4298
           4278
     4267
Name: income_level, dtype: int64

****

      .

##  3.

-           ?

        **   :

In [32]:
round(df.groupby('ch_available')['debt'].mean()*100,2) #      /

ch_available
     7.54
     9.21
Name: debt, dtype: float64

        ,   :
*      ,    ****   - 9,21%
*      ,    ****  - 7,54%
  ,      ?        ,   ? 

 :

In [33]:
round(df.groupby('children')['debt'].mean()*100,2) #      /

children
0    7.54
1    9.17
2    9.49
3    8.18
4    9.76
5    0.00
Name: debt, dtype: float64

    :
*    1 ,       9,17%
*  2 ,     - 9,49%
*  3 ,       (    ),     1,3%     8,18%
*    4 ,    ,       - 9,76%
*     -   5 .      .

****

 ,        .    ,     .          5 ,   ?     .    ,      9    ,      0  10%,       .

-           ?

In [34]:
round(df.groupby('family_status')['debt'].mean()*100,2) #      /

family_status
                 7.11
 /            6.57
          9.35
 /           7.55
  /      9.75
Name: debt, dtype: float64

****

    :
*       *  /  * - 9,75%
*      * * - 9,35%
*      * / * - 7,55%
*    ,  * * - 7,11%
*       ** - 6,57%

  ,        (      )    ,       .

-           ?

In [35]:
round(df.groupby('income_level')['debt'].mean()*100.,2) #      /

income_level
           8.42
      7.02
     8.76
            8.01
     8.38
Name: debt, dtype: float64

****

  ,     :
1.  - 8,01%

2.  - 8,42%

3.  - 8,76%

4.   - 8,38%

5.   (  ) - 7,02%

 ,     ""  " "    *(      8,01%  7,02% )*.      " " *(8,76%)*.        "" - 8,42%  " " - 8,38%.

         ,  -   " ". ,  ,     (    5)    8%,    ,               .       5             ""   .

-          ?

     *d*   :

In [36]:
round(df.groupby('purpose_def')['debt'].mean()*100,2) #      /

purpose_def
              8.00
        9.36
      7.23
        9.22
Name: debt, dtype: float64

****

  :
*      *  * - 9,36%
*    * * - 9,22%
*  **  - 8%
*   *  * - 7,23%

    ,    ,    ,   -   .

In [37]:
df.groupby('family_status')['debt'].mean()*100

family_status
                 7.112971
 /            6.569343
          9.347145
 /           7.545182
  /      9.750890
Name: debt, dtype: float64

##  4.

      ,  ,       .           ,       ,            .      ,        10%      ,      ,      ,      .

   ,       .      ,    5.  1 -    (  ),  5 -    (,   ):

In [38]:
data_research = [[' ', '4   ', '2 ', '1 ', '3 ', ' '],
          [' ', '  /  ', ' ', ' / ', ' ', ' / '],
         ['  ',' ','',' ','',' '],
         [' ','  ','  ',' ',' ','  ']]
columns_end = ['', '1 ()','2','3','4','5 ()']
conclusion = pd.DataFrame(data = data_research, columns = columns_end)
display(conclusion)

,,1 (),2,3,4,5 ()
0,,4,2,1,3,
1,,/,,/,,/
2,,,,,,
3,,,,,,

  ,      ,         ,     .       .